.forecastBlock {
   width: 650px;
   height: 350px;
   border: 1px solid white;
   border-radius: 50px;
   background-color: #AFDAFC;
   margin-top: 10px;
   margin-right: 100px;
   display: flex;
   gap: 60px
}